@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
<div class="row mb-3">
    <div class="col-1"></div>
    <div class="col-2">
        <span>
            Пункт отплавления:
        </span>
    </div>
    <div class="col-2">
        <span>
            Пункт прибытия:
        </span>
    </div>
    <div class="col-2">
        <span>
            Тип топлива:
        </span>
    </div>
    <div class="col-2">
        <span>
            Расход топлива:
        </span>
    </div>
    <div class="col-2">
        <span>
            Количество топлива(кг):
        </span>
    </div>
    <div class="col-1"></div>
</div>
<div class="row mb-1">
    <div class="col-1"></div>
    <div class="col-2">
        <input
            readonly
            value="Krasnoyarsk"
            id="origins1"
            type="text"
            class="form-control"/>
    </div>
    <div class="col-2">
        <input
            readonly
            value="Moscow"
            id="destination1"
            type="text"
            class="form-control"/>
    </div>
    <div class="col-2">
        <select
            id="fuelType1"
            class="form-select">
            <option selected>Au80</option>
            <option>Au92</option>
            <option>Au95</option>
            <option>Au98</option>
            <option>Diesel</option>
        </select>
    </div>
    <div class="col-2">
        <input
            value="10"
            id="fuelConsumption1"
            type="number"
            class="form-control"/>
    </div>
    <div class="col-2">
        <input
            id="result1"
            type="number"
            class="form-control"
            readonly>
    </div>
    <div class="col-1">
        <span
            id="successForm1"
            style="color: white; background-color: green; padding: 7px; border-radius: 7px; display: none">
            Success
        </span>
        <span
            id="failForm1"
            style="color: white; background-color: darkred; padding: 7px; border-radius: 7px; display: none">
            Fail
        </span>
    </div>
</div>
<div class="row mb-1">
    <div class="col-1"></div>
    <div class="col-2">
        <input
            readonly
            value="Krasnoyarsk"
            id="origins2"
            type="text"
            class="form-control"/>
    </div>
    <div class="col-2">
        <input
            readonly
            value="Almaty"
            id="destination2"
            type="text"
            class="form-control"/>
    </div>
    <div class="col-2">
        <select
            id="fuelType2"
            class="form-select">
            <option selected>Au80</option>
            <option>Au92</option>
            <option>Au95</option>
            <option>Au98</option>
            <option>Diesel</option>
        </select>
    </div>
    <div class="col-2">
        <input
            value="10"
            id="fuelConsumption2"
            type="number"
            class="form-control"/>
    </div>
    <div class="col-2">
        <input
            id="result2"
            type="number"
            class="form-control"
            readonly>
    </div>
    <div class="col-1">
        <span
            id="successForm2"
            style="color: white; background-color: green; padding: 7px; border-radius: 7px; display: none">
            Success
        </span>
        <span
            id="failForm2"
            style="color: white; background-color: darkred; padding: 7px; border-radius: 7px; display: none">
            Fail
        </span>
    </div>
</div>
<div class="row mb-1">
    <div class="col-1"></div>
    <div class="col-2">
        <input
            readonly
            value="Krasnoyarsk"
            id="origins3"
            type="text"
            class="form-control"/>
    </div>
    <div class="col-2">
        <input
            readonly
            value="Tokio"
            id="destination3"
            type="text"
            class="form-control"/>
    </div>
    <div class="col-2">
        <select
            id="fuelType3"
            class="form-select">
            <option selected>Au80</option>
            <option>Au92</option>
            <option>Au95</option>
            <option>Au98</option>
            <option>Diesel</option>
        </select>
    </div>
    <div class="col-2">
        <input
            value="10"
            id="fuelConsumption3"
            type="number"
            class="form-control"/>
    </div>
    <div class="col-2">
        <input
            id="result3"
            type="number"
            class="form-control"
            readonly>
    </div>
    <div class="col-1">
        <span
            id="successForm3"
            style="color: white; background-color: green; padding: 7px; border-radius: 7px; display: none">
            Success
        </span>
        <span
            id="failForm3"
            style="color: white; background-color: darkred; padding: 7px; border-radius: 7px; display: none">
            Fail
        </span>
    </div>
</div>
<div class="row mb-1">
    <div class="col-1"></div>
    <div class="col-2">
        <input
            id="origins4"
            type="text"
            class="form-control"/>
    </div>
    <div class="col-2">
        <input
            id="destination4"
            type="text"
            class="form-control"/>
    </div>
    <div class="col-2">
        <select
            id="fuelType4"
            class="form-select">
            <option selected>Au80</option>
            <option>Au92</option>
            <option>Au95</option>
            <option>Au98</option>
            <option>Diesel</option>
        </select>
    </div>
    <div class="col-2">
        <input
            id="fuelConsumption4"
            type="number"
            class="form-control"/>
    </div>
    <div class="col-2">
        <input
            id="result4"
            type="number"
            class="form-control"
            readonly>
    </div>
    <div class="col-1">
        <span
            id="successForm4"
            style="color: white; background-color: green; padding: 7px; border-radius: 7px; display: none">
            Success
        </span>
        <span
            id="failForm4"
            style="color: white; background-color: darkred; padding: 7px; border-radius: 7px; display: none">
            Fail
        </span>
    </div>
</div>
<div class="row">
    <div class="col-12 d-flex justify-content-center">
        <button
            id="updateButton"
            type="button"
            class="btn btn-outline-success mt-1">
            Test
        </button>
    </div>
</div>
</div>

@section scripts
{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="module" src="~/js/home.js" asp-append-version="true"></script>
}